ul li{
    list-style-type: none;
}
.content ul {
    padding: 0;
}
.content-ul li{
    position: relative;
}
.padding-li{
    padding: 5px 20px 5px 10px;
}
.messageBox{
    position: fixed;
    right: 0;
    bottom: 20%;
}
.padding-20{
    padding:20px;
}
.background-blue{
    background-color: #B9D3EE;
}
.background-black{
    background-color: #0A0A0A;
}
.input{border: 1px solid grey;width: 100%;height: 80px;}
.alertChat{
    width: 400px;
    height: 500px;
    position: fixed;
    right: 0;
    bottom: 0;
    display: none;
    background-color: #f9f9f9;
    border:1px solid grey;
}
.text-white{
    color: #fff;
}
.padding-10{
    padding: 10px 10px;
}
.margin-0{
    margin:0;
}
.margin-top-20{
    margin-top: 20px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.content{
    height: 280px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #fff;
}
.emoijBar{
    height: 35px;
    padding: 5px 0;
}
.padding-left-10{
    padding-left: 10px;
}
.chatContent{
    background-color: #dafef4;
    padding: 5px 20px 5px 10px;
}
.receive{
    text-align: left;
}
.send{text-align: right;}
span.emotion{
    font-size: 20px;
    background:url(http://www.16code.com/cache/demos/user-say/img/icon.gif) no-repeat 2px 2px;
    padding-left:20px; cursor:pointer;
}
span.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}